.backButton {
    color: rgb(231, 218, 218);
    background-color: #304a95;
    font-size: 17px;
    text-align: center;
    padding: 0px 7px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px #4475b2;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    border: 1 solid #061444;
}

.backButton:hover {
    color: #061444;
    background-color: #c2eeee;
}

.details {

    flex-direction: column;
    display: flex;
    justify-content: column;
    padding: 30px auto;
    background-image: url('../images/pexels-cottonbro-3945655.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

.divimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    /* max-width: 500px;
    min-height: 290px;
    overflow: hidden;
    margin: 25px */
}

.detailImg {
    margin: 5px;
    display: flex;
    box-shadow: 3px 3px 5px 1px #4c7c7c;
    width: 800px;
    height: 500px;
    border: 2px solid #440644;
    border-radius: 20px;
}

.texts {
    color: rgb(223, 223, 240);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    background-color: #6282a5;
    border-radius: 20px;
}


.ddsh {
    display: flex;
    justify-content: center;
}


.name {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    padding: 20px 30px;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 400;
    text-shadow: 3px 3px 3px #5ecde9;
    background-color: #4d9664;
}


.dishesanddiets {
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    border-radius: 3px;
    color: rgb(223, 223, 240);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    text-shadow: 6px 4px 5px #5d438f;
    background-color: #6282a5;
    text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
    border-radius: 20px;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    color: #ffffff;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
    text-shadow: 6px 4px 5px rgba(0, 0, 0, 0.43);
    border-radius: 20px;
    background-color: #6282a5;
}

.description {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
    background-color: #304a95;
    color: rgb(223, 223, 240);
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 100;
    width: 800px;
    border-radius: 20px;
}